* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.MuiPaper-root.MuiPaper-elevation.MuiPaper-elevation4.MuiAppBar-root.MuiAppBar-colorPrimary.MuiAppBar-positionStatic.css-hip9hq-MuiPaper-root-MuiAppBar-root {
  background-color: #3085f39c;
}
